@{
    ViewBag.BodyClass = "track-bg";
}

<div class="container">
    <h1 class="text-danger">Uh-Oh (404 - Not Found)</h1>
    <p class="lead">The page you requested does not exist.</p>
    <p>Please use the menu above to start navigating this site.</p>
</div>