<div class="container-fluid pt-4">
    <div class="row align-items-baseline">
        <div class="col text-left">
            <div><p>&copy; 2018 - TickleTiger, v0.1</p></div>
        </div>
        <div class="col-4 text-right">
            <div><a href="http://www.nationalrail.co.uk/46391.aspx" target="_blank"><img src="~/images/NRE_Powered_logo.png" class="float-right" alt="Powered by National Rail Equiries" style="width: 250px" /></a></div>
        </div>
    </div>
</div>
