<div class="container-fluid p-4">
    <div class="row">
        <div class="col-12 ml-auto">
            <a class="float-right" href="http://www.nationalrail.co.uk/46391.aspx" target="_blank">
                <img src="~/images/NRE_Powered_logo.png" alt="Powered by National Rail Equiries" style="width: 250px" />
            </a>
        </div>
    </div>
    <div class="row small">
        <div class="col">
            &copy; 2018 - TickleTiger, v0.1
        </div>
    </div>
</div>
